h1 {
    font-family: 'Noto Serif', cursive;
    color:#1C0C5B;
}

h2 {
    font-family: 'Noto Serif';
    color:#3D2C8D;
}

.top-container {
    background: #E5DCC3;
    text-align: center;
    /* margin-top: 100px; */
    height: 800px;
}

#myPicture {
    position: relative;
    left: 10px;
}

#arrow {
    position: absolute;
    top: 80px;
    left: 57%;
    width: 50px;
    height: 50px;
}

.changeImage {
    font-family: "Gormorant Garamond", cursive;
    position: relative;
    left: 16%;
    top: 50px;
}

#car {
    position: absolute;
    left: 70%;
    top: 600px;
    width: 20%;
    height: 20%;
}

.middle-container {
    background: #BAABDA;
    height: 500px;
    text-align: center;
}

.middleText {
    width: 100px;
}
