body {
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 9.rem;
    font-family: 'Noto Serif', cursive;
    color: blue;
}

.top-container {
    text-align: center;
    margin-top: 100px;
}