body {
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Noto Serif', cursive;
    color:#1C0C5B;
}

h2 {
    font-family: 'Noto Serif';
    color:#3D2C8D;
}

.top-container {
    background: #E5DCC3;
    margin: 0px;
    height: 800px;
}

#myPicture {
    position: relative;
    left: 10px;
}

#arrow {
    position: absolute;
    top: 80px;
    left: 57%;
    width: 50px;
    height: 50px;
}

.changeImage {
    font-family: "Gormorant Garamond", cursive;
    position: relative;
    left: 16%;
    top: 50px;
}

#car {
    position: absolute;
    left: 70%;
    top: 600px;
    width: 20%;
    height: 20%;
}

.middle-container {
    position: absolute;
    margin-top: 0; 
    background: #BAABDA;
    height: 500px;    
}

.intro {
    width: 20%;
    padding: auto;
}

.bottom-container {
    background: #CDDEFF;
    height: 500px;
}

#info {
    padding-top: 20px;
}
